*{
    margin: 0;
    padding: 0;
}
.sliderContact{
    background-image: url('../../accets/img/babkgroundContact.png');
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    background-size: cover;
}
.sliderContact .form{
    padding-top: 10%;
    margin-left: 25%;
    width: 50%;
    padding-bottom: 8%;
}
.sliderContact form div input{
    margin: auto;
    display: inline;
    width: 100%;
    margin: 4%;
    padding: 2%;
}
.sliderContact form  button{
    margin: 3%;
    width: 25%;
    margin-left: 20%;
    background-color: #F5886C;
    border: none;

}
.sliderContact form  textarea{
    width:100%;
    margin-left:2%
}